<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img class="logo" [src]="'milobella_green.png' | assetUrl"><span class="title">Milobella</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active mr-3">
        <a class="nav-link" routerLink="/spa-try-it">Home</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" routerLink="/spa-abilities">Abilities</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" routerLink="/spa-nlu-management">Natural Language Understanding</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/spa-nlg-management">Natural Language Generation</a>
      </li>
    </ul>
  </div>
  <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">Logout</button>
</nav>
